<section class="settings">
  <h2 class="settings__headline">Settings</h2>
  <div class='settings__wrapper'>

    <div class="settings__content-wrapper">
      <h3 class="settings__caption">
        <i class="material-icons material-icons--lang">translate</i>Language
      </h3>
      <select class='settings__select' name="language" id="language">
        {{!-- <option value="" selected disabled hidden>Default</option> --}}
        {{#each langData}}
        <option value="{{this.iso_639_1}}">{{this.english_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="settings__content-wrapper">

      <h3 class="settings__caption">
        <i class="material-icons">palette</i>Theme
      </h3>
      <select class='settings__select' name="theme" id="theme">
        {{!-- <option value="" selected disabled hidden>Default</option> --}}
        {{#each themes.value}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

  </div>
  <h3 class="settings__caption">
    <i class="material-icons">public</i>
    Region
  </h3>
  <select class='settings__select settings__select--region' name="region" id="region">
    {{!-- <option value="" selected disabled hidden>Default</option> --}}
    {{#each data}}
    <option value="{{this.iso_3166_1}}">{{this.native_name}}</option>
    {{/each}}
  </select>

</section>